/*body {
  width: 100px;
  height: 100px;
  background-color: black;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;

}

button {
  background-color: red;
  border: none;
  border-radius: 50%;
  color: white;
  padding: 100px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 72px;
  cursor: pointer;
}*/
